<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name:</th>
        <th>Country:</th>
      </tr>
    </thead>
    <tbody>
      <% @artists.each do |artist| %>
        <tr>
          <th><%= link_to artist.name, artist %></th>
          <th><%= artist.country.capitalize %></th>
        </tr>
        <tr>
          <th><%= image_tag artist.photos.first.image.thumbnail %></th>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= link_to "New Artist", new_artist_url, class: "btn btn-default" %>
